$padding-v-small: 25px;
$padding-v-medium: 50px;
$padding-v-large: 100px;
$padding-v-xlarge: 150px;
$padding-v-xxlarge: 350px;
$padding-v-xxxlarge: 500px;

$xxsmall: 480px;
$xsmall: 680px;
$small: 960px;
$xmedium: 1024px;
$medium: 1280px;
$large: 1440px;

$small-mobile:320px;
$reg-mobile:375px;
$large-mobile: 425px;
$tablet:768px;
$laptop:1024px;
$large-laptop:1440px;