body{
	margin-top:50px;
	background: #F6FBFC;
}

.night{
	background: rgb(0,0,128);
	backg
}

.morning{
	background: rgb(255,219,153);
}

.evening{
	background: rgb(237,127,10);
}

.day{
	background: rgb(0,223,255);
}

.input{
	width:96%; 
	margin-left:2%
}

.warning{
	color:red;
	margin-left:3%;
}

.cmsLogin{
	font-family: 'acknowledgement';
}

#loginInfo{
	background: rgba(255,255,255,0.8);
}

@font-face {
    font-family: 'acknowledgement';
    src: url('../fonts/acknowledgement-webfont.woff2') format('woff2'),
         url('../fonts/acknowledgement-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*tablet*/
@media screen and (min-width: 43.75em){


}
/*desktop*/
@media screen and (min-width: 63.75em){

	.input{
		width:80%;
		float:left;
	}

	.submit{
		margin-left:2.5%;
		margin-top:30px;
	}

}